@tailwind base;
@tailwind components;
@tailwind utilities;

.no-delay:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    bottom: -2.5em;
    right: -1em;
    background-color: #333;
    color: white;
    padding: .25em .5em;
    cursor: pointer;
  }